<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ChessTrainer</title>
    <!-- bulma style sheet-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/chessground.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/theme.css') }}">
    <!-- chess.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<div class="container is-fluid">
    <nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item">
                <p class="title">ChessTrainer</p>
            </a>
        </div>
    </nav>

    <div class="columns">
        <div class="column">
            First column
        </div>
        <div class="column brown cburnett">
            <div class="main-board ">
                <div id="chessboard"></div>
            </div>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column">
                    <label>Status:</label>
                    <div id="status"></div>
                    <label>FEN:</label>
                    <div id="fen"></div>
                    <label>PGN:</label>
                    <div id="pgn"></div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <div class="field has-addons">
                        <p class="control">
                            <button class="button">
                                <span class="icon is-small">
                                    <i class="fas fa-backward"></i>
                                </span>
                                <span>Start</span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button">
                                 <span class="icon is-small">
                                        <i class="fas fa-arrow-left"></i>
                                 </span>
                                <span>Back</span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button">
                                <span class="icon is-small">
                                    <i class="fas fa-arrow-right"></i>
                                </span>
                                <span>Next</span>
                            </button>
                        </p>
                        <p class="control">
                            <button class="button">
                                <span class="icon is-small">
                                    <i class="fas fa-forward"></i>
                                </span>
                                <span>End</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static',filename='js/app.js') }}"></script>
</body>
</html>